.jumbotron {
    background-image: url(../images/architecture-buildings-center-263399);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}