.slick-slide {
   background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
  height: 268px;
}

.slider-image-1{
  background-image: url(../images/pexels-photo-461956.jpeg);
}

.slider-image-2 {
  background-image: url(../images/close-up-cucumber-cuisine-1440119.jpg);
}
.slider-image-3 {
  background-image: url(../images/pexels-photo-461956.jpeg);
}
.slider-image-4 {
  background-image: url(../images/pexels-photo-461956.jpeg);
}
.slider-image-5 {
  background-image: url(../images/pexels-photo-461956.jpeg);
}
.slider-image-6 {
  background-image: url(../images/pexels-photo-461956.jpeg);
}